# por defecto se usa ollama en local,
OLLAMA_MODEL: qwen2.5:3b 
#si quieres cambiar api google, descomenta
# pon tu key y cambiar nombre cp .example.env .env     
# LLM_PROVIDER=google
# GOOGLE_API_KEY=tu_clave_de_googlee
# GOOGLE_MODEL=gemini-2.5-flash