# por defecto se usa ollama en local, si quieres cambiar api google
# pon tu key y cambiar nombre cp .example.env .env    
LLM_PROVIDER=google
GOOGLE_API_KEY=tu_clave_de_google
GOOGLE_MODEL=gemini-2.5-flash